// Search page Search Box
.search-page-header {
  display: flex;
  flex-direction: column;
  width: 60%;

  height: 200px;

  align-items: center;
}
.search-page-term {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  align-items: left;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
}
.search-page-term h4 {
  font-size: 2rem;
}
.search-page-term p {
  font-size: 0.7rem;
  color: #999;
}

.search-page-box-container {
  display: flex;
  position: absolute;
  margin-top: 130px;
}

// Search Page Body

.search-page-body {
  width: 100%;
  min-height: 700px;
  display: flex;
}

.search-grid {
  flex-basis: 60%;
  padding: 1rem;

  //   background-color: #f5f5f7;
}

.search-page-actions {
  max-width: 800px;
  height: 50px;
  margin: auto;

  display: flex;
}

.grid-container {
  max-width: 800px;
  margin: auto;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  //   grid-gap: 25px;
}

.search-side-bar {
  flex-basis: 30%;
  background-color: red;
}

// Book Item
.book-item-container {
  background-color: #ffffff;
  width: 800px;
  height: 235px;
  cursor: pointer;
  justify-self: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

.book-item-image {
  width: 200px;
  height: 200px;
  flex-basis: 20%;
  background: url("../assets/img/Placeholder-Vector-Art-Icon.png") no-repeat
    center;
  border: none;
}

.book-item-image img {
  object-fit: cover;
  border: 1px solid #ffffff00;
}

.book-item-title {
  flex-basis: 80%;
  padding-left: 2rem;
}

.book-item-title h4 {
  font-size: 1rem;
  line-height: 1.2;
  color: #0f62fe;
}

.book-item-title p {
  font-size: 0.7rem;
  line-height: 1.2;
}
