// Fonts
@font-face {
  font-family: "display-text";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "display-text-light";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "display-text-extralight";
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "display-text-semibold";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "display-text-medium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

// Text
h1 {
  letter-spacing: normal;
  font-family: "display-text-medium", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0 0;
  margin: 0 0;
  line-height: 1.2;
}

h4 {
  letter-spacing: normal;
  font-family: "display-text", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0 0;
  margin: 0 0;
  line-height: 1;
}

p {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: normal;
  font-family: "display-text-light", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0 0;
  margin: 0 0;
  line-height: normal;
}
a {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: normal;
  font-family: "display-text-light", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  color: #0f62fe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0 0;
  margin: 0 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

small {
  letter-spacing: normal;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    "sans-serif";
  color: #999999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-align: left;
  padding: 0, 0;
  margin: 0, 0;
  line-height: 1;
  text-decoration: none;
}
